html {
	height: 100%;
}

body {
	background-image: url(photos/background.png);
	font-family: 'Lucida Console', monospace;
	padding: 0px;
	margin: 0px;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
/*	 background-color: pink;*/ 
	 height: 15%;
}

#container-wip {
/*	 background-color: green; */
	 display: flex;
	 flex-direction: column;
	 /*height: 70%;*/
}

/*======== HEADER =========*/

#back {
	width: 40px;
	height: 40px;
	background-image: url(photos/back.png);
	margin-left: 20px;
	margin-top: 10px;
}

#back:hover {
	background-image: url(photos/back2.png);
}

/*======== FOOTER =========*/

footer {
/*	background-color: yellow;*/
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#containerfooter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

#copyright {
	color: #FFC929;
}

#instagram {
	background-image: url(photos/Instagram.png);
	height: 40px;
	width: 40px;
}

#instagram:hover {
	background-image: url(photos/Instagram2.png);
}

#twitter {
	background-image: url(photos/Twitter.png);
	height: 40px;
	width: 40px;
}

#twitter:hover {
	background-image: url(photos/Twitter2.png);
}

#facebook {
	background-image: url(photos/Facebook.png);
	height: 40px;
	width: 40px;
}

#facebook:hover {
	background-image: url(photos/Facebook2.png);
}

/*======== SPYRO =========*/

#containerspyro {
	display: flex;
	justify-content: center;
	align-items: center;
/*	background-color: white;*/
}

#imgspyro {
	height: 400px;
	width: 400px;
}

/*======== PROGRESS BAR =========*/

#bar {
/*	background-color: blue;*/
	display: flex;
	flex-direction: column;
}

#barrow1 {
/*	background-color: grey;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#barrow2 {
/*	background-color: purple;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#containerloadbar {
	height: 60px;
	width: 600px;
	box-shadow: 0px 0px 0px 4px #FFC929 inset;
	background-color: purple;
}

#progressbar {
	display: inline-block;
	height: 50px;
	width: 590px;
	padding-bottom: 5px;
	background-image: url(photos/flammes.png);
}

#head {
/*	background-color: red;*/
	margin-left: -120px;
}

#crache {
height: 70px;
width: 120px;
}

#fire {
/*	background-color: brown;*/
}

#zero {
/*	background-color: lightblue;*/
	font-size: 30px;
	font-family: 'Papyrus', fantasy;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#cent {
/*	background-color: lightgrey;*/
	font-size: 30px;
	font-family: 'Papyrus', fantasy;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/*======== WORK IN PROGRESS =========*/

#containerworkinprogress {
/*	background-color: orange;*/
}

#workinprogress {
	margin-top: 0px;
	font-size: 45px;
	font-family: 'Candara', sans-serif;
	color: #FFC929;
	text-align: center;
}

#revenez {
	font-size: 35px;
	font-family: 'Candara', sans-serif;
	margin-top: -50px;
	color: white;
}